Source: ttcp
Section: unknown
Priority: optional
Maintainer: Kylin Soong <kylinsoong.1214@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://example.com

Package: ttcp
Version: 1.14-1
Architecture: arm64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Test TCP
 This is a simple example package for demonstration purposes.
